<div class="outer-container">
    <div class="input-container">
    <div id="message">{{ message }}</div>
    <input id="input" type="text" (input)="checkInput($event)">
    </div>
    <div class="canvas-container">
    <div>
        <canvas id="canvas1"></canvas>
    </div>
    <div>
        <canvas id="canvas2"></canvas>
    </div>
    <div>
        <canvas id="canvas3"></canvas>
    </div>
    </div>
    <div class="canvas-container">
    <div>
        <canvas id="canvas4"></canvas>
    </div>
    <div>
        <canvas id="canvas5"></canvas>
    </div>
    <div>
        <canvas id="canvas6"></canvas>
    </div>
    </div>
</div>
